*{
    margin: 0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(image/background.jpg);
    background-size: cover;
    background-position:center;
}

/*---------navbar---------------------------------------------------------------------------------------------------------------*/
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    size: 200px;
    cursor: pointer;
}

.navbar .logo span{
    color: rgb(255, 196, 0);
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
}

.navbar ul li ::after{
    content: '';
    height:3px ;
    width:0;
    background: rgb(255, 196, 0);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover ::after{
    width: 100%;
}

/*-----content on background image----------------------------------------------------------------------------------------------------------------------*/
h1{
    color: white;
    font-size: 20px;
    margin-left: 90px;
    margin-top: 50px;
}

/*----Premier ligne de formulaire--------------------------------*/
.lign1-form{
    display: flex;
    justify-content: space-evenly;
}


/*---ligne 2 du formulaire*/

.lign2-form{
    display: flex;
    justify-content: space-evenly;
}

.lign2-form div input{
    outline: none;
    background-color: white;
    height: 30px;
    width: 200px;
}
.lign2-form i{
    outline: none;
    background-color: white;
    height: 30px;
    padding: 20px 20px;
}






















/*------footer--------------------------------------------------------------------------------------------------------------*/
footer{
    background-color: black;
    margin-top: 0;
    width: 100%;
    height: 20em;
}
footer div{
  
  align-items: center;
  justify-content: space-around;
  color: white;
}
footer div ul li{
    padding-top: 20%;
    list-style: none;
}
footer div ul li a{
    text-decoration: none;
    color: white;
}
footer div ul li h4{
    color: rgb(255, 187, 0);
}
.foot{ 
    display: flex;
    padding-top: 20px;
}
footer .copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 90px;
}
footer .copyright .start{
    font-size: 13px;
}
footer .copyright .end i{
    margin-left: 15px;
}