 *{
    margin: 0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(image/background.jpg);
    background-size: cover;
    background-position:center;
}

/*---------navbar---------------------------------------------------------------------------------------------------------------*/
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    size: 200px;
    cursor: pointer;
}

.navbar .logo span{
    color: rgb(255, 196, 0);
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
}

.navbar ul li ::after{
    content: '';
    height:3px ;
    width:0;
    background: rgb(255, 196, 0);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover ::after{
    width: 100%;
}
/*-----content on background image----------------------------------------------------------------------------------------------------------------------*/
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
}

.content h1{
    font-size: 50px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.background button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 27% 42%;
    border-radius: 30px;
    border: 2px solid rgb(255, 196, 0);
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color:white;
}



/*---service box-----------------------------------------------------------------------------------------------------------------------*/
.title{
    padding-top: 5%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title div{
    height: 5px;
    width: 60px;
    background-color: rgb(255, 196, 0);
    margin-left:47%;
    margin-top: -5%;
}

.box-container{
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 50px; 

}

.box-container .box{
    padding: 10px;
    border-radius: 5px;
    background: rgb(245, 245, 245);
    display:flex;
    width: 15em;
    height: 20em;
}
.box-container .box .icon{
    margin-top: 20px;
}

.box-container .box .icon i{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
}

.box-container .box .titile{
    font-size: 15px;
    margin-left: 20px;
}

.box-container .box hr{
    height: 5px;
    width: 70px;
    margin-left: 20px;
    margin-top: 20px;
    outline: none;
    background-color: rgb(255, 187, 0);
}
.box-container .box p{
    font-size:13px;
    padding: 25px;
}

.box-container .box a{
    text-decoration: none;
    color: black;
    background-color: rgb(255, 187, 0);
    border-radius: 25px;
    padding: 10px 10px;
    margin-left: 35px;
}

.box span{
    margin-left: 5px;
    background-color: rgb(192, 0, 0);
    border-radius: 25px;
    color: white;
    padding: 5px 10px;
}
/*-----form section------------------------------------------------------------------------------------------------------------ */
.formsection{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
}
.form{
    margin-top: 50px;
    margin-left: 20px;
    background-color:rgba(0,0,0,0.95);
    border-radius: 10px;
    height: 400px;
    width: 400px;
}
.buttonform button{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 7px;
    text-decoration: none;
    height: 40px;
    width: 120px;
    background-color: transparent;
    color: white;
    border-radius: 3px;
    border: black;
    border-bottom: 2px solid rgb(255, 196, 0);
}

.buttonform .bt{
    border:rgb(235, 235, 235);
    border-style: solid;
    border-width: 1px;
}


/*----formulaire------------------------------*/
.formulaire input{
    color: white;
border-bottom:1px solid rgb(255, 196, 0);
background-color: transparent;
}

.lieux-bien{
    margin-top: 50px;
    margin-left: 10px;
}

.lieux-bien input{
    width: 370px;
    height: 30px;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
}

.lieux-bien select{
    margin-top: 20px;
    width: 370px;
    height: 30px;
    color: white;
    outline: none;
    border-bottom:1px solid rgb(255, 196, 0);
    background-color: transparent;
    border-radius: 10px;
}

.piece-chambre{
    display: flex;
    justify-content: space-around;
}

.piece-chambre select{
    margin-top: 20px;
    margin-left: -10px;
    width: 175px;
    height: 30px;
    color: white;
    outline: none;
    border-bottom:1px solid rgb(255, 196, 0);
    background-color: transparent;
    border-radius: 10px;
}

.Surface-prix{
    display: flex;
    justify-content: space-evenly;
}
.Surface-prix input{
    margin-top: 20px;
    margin-left: -10px;
    width: 170px;
    height: 30px;
    color: white;
    outline: none;
    border-bottom:1px solid rgb(255, 196, 0);
    background-color: transparent;
    border-radius: 10px;
}
.prix input{
    margin-left: 10px;
    outline: none;
}


.titleform {
    margin-top: 200px;
    padding-left: 20px;
    text-align: left;
    font-size: 40px;
}

/*search button--------*/
.search-box{
    position: absolute;
    transform: translate(-100%,-50%);
    background: rgba(36, 34, 34, 0.7);
    border-radius: 40px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 375px;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 ;
}
.search-btn i{
    color:rgb(255, 196, 0);
    float: right;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}

/*---Section Avis client-------------------------------------------------------------------------------------------------------*/

.sectionclients{
    margin-top: 50px;
    background-color:rgb(255, 196, 0);
    height: 500px;
    width: 100%;
}
.sectionclients h2{
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.avisclient{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}  

.avisclient h6{
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}

.stars{
    margin-top: 10px;
    text-align: center;
}
.stars i{
    margin-left: 10px;
}

.imgclient{
    margin-top: 50p;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid rgb(24, 24, 24);
}

/*---section conseil------------------------------------------------------------------------------------------------------------------------*/
.conseil{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding: 50px;
}

.conseil .conseilinfo{
    margin-top: 50px;
    margin-right: 50px;
}

.conseil .conseilinfo p {
    font-size: 15px;
    color: rgb(151, 151, 151);
    line-height: 20px;
}
.conseil .conseilinfo p strong{
    text-align: left;
    font-size: 25px;
    color: black;
}

.conseil button{
    width: 200px;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    background-color: rgb(255, 208, 0);
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

/*------footer--------------------------------------------------------------------------------------------------------------*/
footer{
    background-color: black;
    margin-top: 100px;
    width: 100%;
    height: 20em;
}
footer div{
  
  align-items: center;
  justify-content: space-around;
  color: white;
}
footer div ul li{
    padding-top: 20%;
    list-style: none;
}
footer div ul li a{
    text-decoration: none;
    color: white;
}
footer div ul li h4{
    color: rgb(255, 187, 0);
}
.foot{ 
    display: flex;
    padding-top: 20px;
}
footer .copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 90px;
}
footer .copyright .start{
    font-size: 13px;
}
footer .copyright .end i{
    margin-left: 15px;
}












